{% extends "layout.html" %}
{% block content %}        
  <section id="present">
      <div class="container">
        <div class="row row-content align-items-center">
          <div class="col-12 col-sm-4 order-sm-last col-md-3">
            <h3>What We Actually Do?</h3>
          </div>
          <div class="col col-sm order-sm-first col-md">
            <p>Make the college life easier for students while instilling new relationships.</p>
          </div>
        </div>
        <hr>

        <div class="row row-content align-items-center">
          <div class="col-12 col-sm-4 col-md-3">
            <h3>How We Do It?</h3>
          </div>
          <div class="col-12 col-sm col-md">
            <p>By creating a healthy environment for students to upload, sell and buy books.</p>
          </div>
        </div>
      


      </div>
  </section>

{% endblock %}