{% extends "layout.html" %}
{% block content %}        
  <section id="present">
      <div class="container">
        <div class="row row-content align-items-center">
          <div class="col-12 col-sm-4 order-sm-last col-md-3">
            <h3>What We Actually Do?</h3>
          </div>
          <div class="col col-sm order-sm-first col-md">
            <p>Make the college life easier for students while instilling new relationships.</p>
          </div>
        </div>

        <div class="col-12">
            <blockquote class="blockquote text-center">
              We didn't realize we were making memories, we just knew we were having fun.
              <footer class="blockquote-footer">Anonymous</footer> 
            </blockquote>
        </div>
        <hr>

        <div class="row row-content align-items-center">
          <div class="col-12 col-sm-4 col-md-3">
            <h3>How We Do It?</h3>
          </div>
          <div class="col-12 col-sm col-md">
            <p>By creating a healthy environment for students to upload, sell and buy books.</p>
          </div>
        </div>
        
        <div class="col-12">
          <blockquote class="blockquote text-center">
            The hallmark of a healthy society has always been measured by how it cares for the disadvantaged.
            <footer class="blockquote-footer">Joni Eareckson Tada</footer> 
          </blockquote>
        </div>
        <hr>

        <div class="row row-content align-items-center">
          <div class="col-12 col-sm-4 order-sm-last col-md-3">
            <h3>Why We Do It?</h3>
          </div>
          <div class="col col-sm order-sm-first col-md">
            <p>We faced problems during our freshman year finding reference books and guide books. We don't want our next batches to face the same problems.</p>
          </div>
        </div>
        
        <div class="col-12">
          <blockquote class="blockquote text-center">
            Unless someone like you cares a whole awful lot, nothing is going to get better. It’s not.
            <footer class="blockquote-footer">Dr. Seuss</footer> 
          </blockquote>
        </div>
        <hr>
      
        <div class="row row-content align-items-center">
          <div class="col-12 col-sm-4 col-md-3">
            <h3>What Made Us Do This?</h3>
          </div>
          <div class="col col-sm col-md">
            <p>Creativity. Something that would make college life seem a little less intimidating.</p> 
          </div>
        </div>
        
        <div class="col-12">
          <blockquote class="blockquote text-center">
            Others have seen what is and asked why. I have seen what could be and asked why not. 
            <footer class="blockquote-footer">Pablo Picasso</footer> 
          </blockquote>
        </div>
        <hr>

      </div>
  </section>

{% endblock %}