{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row form-group">
        <div class="col-12 col-sm-6">
            {{ form.subjectbased.label(class="col-form-label") }}
            {% if form.subjectbased.errors %}
                {{ form.subjectbased(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.subjectbased.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.subjectbased(class="form-control") }}
            {% endif %}
        </div>

        <div class="col-12 col-sm-6">
            {{ form.semesterbased.label(class="col-form-label") }}
            {{ form.semesterbased(class="form-control") }}
        </div>
    </div>
</div>
    
    <!-- <section id="options">
        <div class="container">
            <div class="row text-center offset-sm-4">
                    <a class="btn btn-main col-12 col-sm-6" href="buy2_1.html" role="button"><i class="fas fa-book fa-lg"></i> Based On Subject </a>
            </div>
            <div class="row text-center offset-sm-4">
                <a class="btn btn-main col-12 col-sm-6" href="#" role="button"><i class="fas fa-chalkboard-teacher fa-lg"></i> Based On Semester </a>
            </div>
            <div class="row text-center offset-sm-4">
                <a class="btn btn-main col-12 col-sm-6" href="#" role="button"><i class="fas fa-user-edit fa-lg"></i> Based On Author </a>
            </div>
        </div>
    </section> -->

{% endblock %}