{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
                <legend>Registration Form</legend>
                <div class="row form-group">
                    {{ form.firstname.label(class="col-4 col-sm-2 col-form-label") }}
                    <div class="col-8 col-sm-4">
                        {% if form.firstname.errors %}
                            {{ form.firstname(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.firstname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.firstname(class="form-control") }}
                        {% endif %}
                    </div>
                </div>

                <div class="row form-group">
                    {{ form.lastname.label(class="col-4 col-sm-2 col-form-label") }}
                    <div class="col-8 col-sm-4">
                        {% if form.lastname.errors %}
                            {{ form.lastname(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.lastname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.lastname(class="form-control") }}
                        {% endif %}
                    </div>
                </div>

                <div class="row form-group">
                    {{ form.id_num.label(class="col-4 col-sm-2 col-form-label") }}
                    <div class="col-8 col-sm-4">
                        {% if form.id_num.errors %}
                            {{ form.id_num(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.id_num.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.id_num(class="form-control") }}
                        {% endif %}
                    </div>
                </div>
                
                <div class="row form-group">
                    {{ form.branch.label(class="col-4 col-sm-2 col-form-label") }}
                    <div class="col-8 col-sm-4">
                        {{ form.branch(class="form-control") }}
                    </div>
                </div>

                <div class="row form-group">
                    {{ form.email.label(class="col-4 col-sm-2 col-form-label") }}
                    <div class="col-8 col-sm-4">
                        {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control") }}
                        {% endif %}
                    </div>
                </div>

                <div class="row form-group">
                    {{ form.username.label(class="col-4 col-sm-2 col-form-label") }}
                    <div class="col-8 col-sm-4">
                        {% if form.username.errors %}
                            {{ form.username(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control") }}
                        {% endif %}
                    </div>
                </div>

                <div class="row form-group">
                    {{ form.password.label(class="col-4 col-sm-2 col-form-label") }}
                    <div class="col-8 col-sm-4">
                        {% if form.password.errors %}
                            {{ form.password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control") }}
                        {% endif %}
                    </div>
                </div>

                <div class="row form-group">
                    {{ form.confirm_password.label(class="col-4 col-sm-2 col-form-label") }}
                    <div class="col-8 col-sm-4">
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control") }}
                        {% endif %}
                    </div>
                </div>

            <div class="row form-group">
                <div class="col-12 offset-sm-3 col-sm-6">
                    {{ form.submit(class="btn btn-form") }}
                </div>
            </div>
        </form>
    </div>
    
    <div class="container">
        <div class="row justify-content-center justify-content-sm-start">
            <div class="text-muted">
                Already Have An Account? <a class="ml-2 linking" href="{{ url_for('login') }}">Login</a>
            </div>
        </div>
    </div>
{% endblock content %}

