{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <legend>Reset Password</legend>
            <div class="row form-group">
                {{ form.email.label(class="col-4 col-sm-2 col-form-label") }}
                <div class="col-8 col-sm-4">
                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control") }}
                    {% endif %}
                </div>
            </div>

            <div class="row form-group">
                <div class="col-12 offset-sm-3 col-sm-6">
                    {{ form.submit(class="btn btn-form") }}
                </div>
            </div>
        </form>
    </div>

{% endblock %}